body{
    background-color: #EEEDED;
    padding: 0px 0px 0px 0px;
    font-family: 'adelle_sansregular', Arial, sans-serif;
}

header{
}
div#head{
    border-bottom: solid 6px #EF4B00;
    background-color: #fff;
}
div#logo{
    margin: 20px 0px 10px 0px;
}
div#logo img{
    width: 300px;
}
div#mensaje{
    float: right;
    font-size: 16px;
    margin-top: 45px;
}
div#mensaje a{
    margin-left: 15px;
}
.no_pd{
    padding: 0px !important;
}
.bg_blue{
    background-color: #002E9C !important;    
}
#navigation{
    text-align: center;
    font-family: 'adelle_sansregular', Arial, sans-serif;
    background-color: #002E9C;
    padding: 8px 0px 0px 0px;
    height: 65px;
}
#navigation div p{
    margin: 0px 0px 5px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}
#ul_interna li{
    padding: 8px 0px 0px 25px;
    margin: 0px 0px 15px -25px;
    list-style: none;
    height: 38px;
    cursor: pointer;
}
#ul_interna li:hover{
    background-color: #243F92;
    border-radius: 8px;
    color: #fff !important;
}
.left_sel{
    background-color: #243F92;
    border-radius: 8px;
    color: #fff !important;
}
div#navigation a{
    text-decoration: none;
}
.nav_tab{
    height: 42px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}
.nav_tab:hover{
    border: 1px solid #fff;
    padding: 0px 0px 10px 0px;
    color: #fff !important;
    cursor: pointer;
}
.nav_sel{
    border: 1px solid #fff;
    padding: 0px 0px 10px 0px;
    color: #fff !important;
}
.nav_ic{
    background-size: contain;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 12px 5px -6px 0px;
}
.icon1{ background-image: url('../img/n_1w.png');}
.icon2{ background-image: url('../img/n_2w.png');}
.icon3{ background-image: url('../img/n_3w.png');}
.icon4{ background-image: url('../img/n_4w.png');}
.icon5{ background-image: url('../img/n_5w.png');}
.icon6{ background-image: url('../img/n_6w.png');}

div#slider {
    background-color: #111;
    background-image: url('../img/slider.jpg');
    background-size: cover;
    height: 400px;
    padding: 0px 20px 20px 20px;
    margin-top: 20px;
}
div#slider_box {
    border: 1px solid #fff;
    margin: 0px 0px 0px 0px;
    border-top: none;
    height: 380px;
    width: 100%;
}
div#slider_name {
    font-size: 20px;
    color: #fff;
    background-color: #EE5025;
    width: 400px;
    padding: 10px 0px 0px 0px;
    height: 50px;
    text-align: center;
    float: right;
    margin: -30px -20px 0px 0px;
    font-family: 'adelle_sanslight', Arial, sans-serif;
}
div#container{
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
    border-bottom: 1px solid #e2e2e2;
    margin-top: 20px;
}

div#main_cont{
    margin: 20px 0px 0px 0px;
}

.int_div{
    display: none;
}
.int_div_sel{
    display: inline;
}

.box_header{
    margin-bottom: 30px;
}
.box_header img{
    width: 40px;
    margin: 0px 15px 0px 10px;
    float: left;
}
.box_header h1{
    font-family: 'adelle_sanslight', Arial, sans-serif;
    font-size: 22px;
    border-bottom: solid 6px #224190;
    margin: 30px 10px 0px 65px;
    padding: 0px 0px 8px 0px;
}
.box_header p{
    font-family: 'adelle_sanslight', Arial, sans-serif;
    font-size: 16px;
    border-bottom: solid 6px #224190;
    margin: 30px 10px 0px 20px;
    padding: 0px 0px 8px 0px;
}
.cont_left{
    height: auto;
    border: 1px solid #e2e2e2;
    padding-bottom: 60px;
}
.cont_left ul{
    font-size: 16px;
}
.cont_right{
    height: auto;
    padding-bottom: 60px;
    border: 1px solid #e2e2e2;
    border-left: none;
}
.cont_400{
    height: 400px;
}
.cont_600{
    height: 600px;
}
.noticia{
    height: 100px;
}
.noticia img{
    margin: 0px 15px 0px 0px;
    float: left;
    width: 130px;
    height: 80px;
    background-color: #000;
}
.noticia h1{
    font-size: 20px;
    font-family: 'adelle_sansregular', Arial, sans-serif;
    margin: 0px;
}
.noticia p{
    font-size: 20px;
    font-family: 'adelle_sansthin', Arial, sans-serif;
}
.noticia a{
    font-size: 18px;
    font-family: 'adelle_sansthin', Arial, sans-serif;
    color: #224190; 
    float: right;
}
.vmas{
    font-size: 18px;
    color: #224190;
    cursor: pointer; 
    margin-top: 30px;
}

.publicidad{
    text-align: center;
    background: #999;
    height: 120px;
    margin:30px 0px 30px 0px; 
}

.cont_in_r{
    margin-left: 40px;
}

div#calendario img{
    width: 100%;
}

div#footer{
    height: 280px;
    margin: 30px 0px 0px 0px;
    background-color: #224190;
}

@media only screen and (min-width: 0px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}


/**+++++++++++++++++++++++++++++++++++++++++++++++++*/
/**   LOGIN     ***/

div#login_box{
    width: 450px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    margin:0px auto; 
    font-family: 'adelle_sanslight', Arial, sans-serif;
    margin-top: 180px;
    text-align: center;
    font-size: 18px;
}
div#login_box img{
    width: 300px;
    margin: 30px 0px 0px 0px;
}
div#login_box input{
    background-color: #F9FAFB;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 85%;
    height: 35px;
    margin: 0pt auto;
    margin-bottom: 20px;
}
div#login_box label{
    margin-bottom: 12px;
}
#submit_btn{
    background-color: #EF4F24 !important;
    font-size: 18px !important;
    color: #fff !important;
    height: 50px !important;
    cursor: pointer;
        border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 100%;
}
#submit_btn:hover{
    background-color: #FF653C !important;
}

#blue{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #243F92;
    top: 0;
    z-index: -999;
    background-image: url("../img/txtr1.png")
}

/*contacto*/
button, input, select, textarea {
    resize: none;
    padding: 4px 0px 4px 0px;
    margin-bottom: 8px;
}
textarea{
    width: 100%;
}

/* XS */
@media (min-width: 0px) and (max-width: 768px) {

#navigation{
    position: relative;
    z-index: 999;
    width: 100%;
}
.nav_sel{
    border: none;
}
div#logo img{
    width: 100%;
}
div#mensaje{
    text-align: center;
    float: none;
    margin: 0px;        
}
.navbar-collapse{
    overflow: hidden;
}
div#slider {
    height: 150px;
    padding: 0px 20px 20px 20px;
}
div#slider_box {
    height: 140px;
}
div#slider_name {
    font-size: 16px;
    color: #fff;
    background-color: #EE5025;
    width: 100%;
    padding: 8px 0px 0px 0px;
    height: auto;
    margin: -30px 0px 0px 0px;
}
.cont_right {
    border-left: 1px solid #e2e2e2;
    height: auto;
    margin-bottom: 30px;
}
.noticia {
    height: auto;
    margin-bottom: 20px;
}
.noticia h1 {
    font-size: 16px;
}
.noticia p {
    font-size: 16px;
}
.noticia a {
    font-size: 16px;
    float: right;
}
.noticia img {
    margin-bottom: 20px; 
}
.cont_right {
    padding-bottom: 20px;
}

/*  login  */
div#login_box {
    width: auto;
    height: 500px;
    margin-top: 100px;
}


/* mi_fraccionamiento*/
.box_header h1 {
    font-size: 16px;
    margin: 20px 10px 0px 65px;
}
#ul_interna{
    padding: 0px;
}
#ul_interna li {
    padding: 8px 0px 1px 20px;
    margin: 0px 0px 10px 0px;
    width: auto;
    list-style: none;
    height: auto;
    cursor: pointer;
}


}/**END XS*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

#navigation div p {font-size: 12px;}
.container {width: inherit !important;}
.noticia {
    height: 125px;
}
.noticia h1 {
    font-size: 16px;
}
.noticia p {
    font-size: 16px;
}
.noticia a {
    font-size: 16px;
    float: right;
}
.vmas{
    margin-top: 0px;
}

}/*end sm*/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
#navigation div p {font-size: 14px;}

/*mi fraccionamiento*/
.cont_left ul {
    margin-left: 50px;
}

}/* end md*/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#navigation div p {font-size: 14px;} 

/*contacto*/
#form{
    margin: 0px 0px 0px 65px;
}
#submit_btn{
    width: auto;
}

/*mi fraccionamiento*/
.cont_left ul {
    margin-left: 50px;
}

}/*end lg*/